<section class="d-flex align-items-center">
  <div class="container-fluid d-flex justify-content-center">
    <div class="row col-6">
      <mat-accordion class="col-12">
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Question? </mat-panel-title>
            <!-- <mat-panel-description>
              Currently I am {{ panelOpenState ? "open" : "closed" }}
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
            voluptatibus libero. Maiores tempore perspiciatis laudantium
            voluptas esse et aspernatur quidem laborum ipsam. Possimus explicabo
            amet adipisci molestiae eveniet at impedit, unde vitae repellat sint
            ut.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Question? </mat-panel-title>
            <!-- <mat-panel-description>
              Currently I am {{ panelOpenState ? "open" : "closed" }}
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
            voluptatibus libero. Maiores tempore perspiciatis laudantium
            voluptas esse et aspernatur quidem laborum ipsam. Possimus explicabo
            amet adipisci molestiae eveniet at impedit, unde vitae repellat sint
            ut.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Question? </mat-panel-title>
            <!-- <mat-panel-description>
              Currently I am {{ panelOpenState ? "open" : "closed" }}
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
            voluptatibus libero. Maiores tempore perspiciatis laudantium
            voluptas esse et aspernatur quidem laborum ipsam. Possimus explicabo
            amet adipisci molestiae eveniet at impedit, unde vitae repellat sint
            ut.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Question? </mat-panel-title>
            <!-- <mat-panel-description>
              Currently I am {{ panelOpenState ? "open" : "closed" }}
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
            voluptatibus libero. Maiores tempore perspiciatis laudantium
            voluptas esse et aspernatur quidem laborum ipsam. Possimus explicabo
            amet adipisci molestiae eveniet at impedit, unde vitae repellat sint
            ut.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Question? </mat-panel-title>
            <!-- <mat-panel-description>
              Currently I am {{ panelOpenState ? "open" : "closed" }}
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
            voluptatibus libero. Maiores tempore perspiciatis laudantium
            voluptas esse et aspernatur quidem laborum ipsam. Possimus explicabo
            amet adipisci molestiae eveniet at impedit, unde vitae repellat sint
            ut.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Question? </mat-panel-title>
            <!-- <mat-panel-description>
              Currently I am {{ panelOpenState ? "open" : "closed" }}
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
            voluptatibus libero. Maiores tempore perspiciatis laudantium
            voluptas esse et aspernatur quidem laborum ipsam. Possimus explicabo
            amet adipisci molestiae eveniet at impedit, unde vitae repellat sint
            ut.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Question? </mat-panel-title>
            <!-- <mat-panel-description>
              Currently I am {{ panelOpenState ? "open" : "closed" }}
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
            voluptatibus libero. Maiores tempore perspiciatis laudantium
            voluptas esse et aspernatur quidem laborum ipsam. Possimus explicabo
            amet adipisci molestiae eveniet at impedit, unde vitae repellat sint
            ut.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Question? </mat-panel-title>
            <!-- <mat-panel-description>
              Currently I am {{ panelOpenState ? "open" : "closed" }}
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
            voluptatibus libero. Maiores tempore perspiciatis laudantium
            voluptas esse et aspernatur quidem laborum ipsam. Possimus explicabo
            amet adipisci molestiae eveniet at impedit, unde vitae repellat sint
            ut.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Question? </mat-panel-title>
            <!-- <mat-panel-description>
              Currently I am {{ panelOpenState ? "open" : "closed" }}
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
            voluptatibus libero. Maiores tempore perspiciatis laudantium
            voluptas esse et aspernatur quidem laborum ipsam. Possimus explicabo
            amet adipisci molestiae eveniet at impedit, unde vitae repellat sint
            ut.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</section>
