footer {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(../../assets/japan-main-hero.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 15vh;
}
