<section class="d-flex align-items-center">
  <div class="container-fluid d-flex justify-content-center">
    <div class="col-10 row about-card rounded">
      <div class="col-6 p-5">
        <img src="/assets/me.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-6 p-5">
        <h1>About Us</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi,
          sapiente? Veniam autem dolores eius odio id voluptate obcaecati
          quaerat numquam!
        </p>
        <br />
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto,
          repellendus autem! Odit magni et magnam exercitationem aspernatur,
          impedit vitae quasi.
        </p>
        <br />
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio
          praesentium, nulla dolorem sint consectetur ipsam laboriosam ipsum
          excepturi ea minus sequi nobis numquam animi. Ab, dolor qui. Esse,
          accusamus itaque.
        </p>
        <div class="buttons">
          <div class="row d-flex justify-content-around">
            <button class="facebook col-4 m-3">
              <span><i class="fab fa-facebook-f"></i></span>
              Facebook
            </button>
            <button class="instagram col-4 m-3">
              <span><i class="fab fa-instagram"></i></span>
              Instagram
            </button>
            <button class="twitter col-4 m-3">
              <span><i class="fab fa-twitter"></i></span>
              Twitter
            </button>
            <button class="youtube col-4 m-3">
              <span><i class="fab fa-youtube"></i></span>
              Youtube
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
