<section>
  <div class="container">
    <div class="main-img">
      <img src="/assets/Gallery/gallery14.jpg" id="current" />
    </div>
    <div class="imgs">
      <img src="/assets/Gallery/gallery1.jpg" />
      <img src="/assets/Gallery/gallery2.jpg" />
      <img src="/assets/Gallery/gallery3.jpg" />
      <img src="/assets/Gallery/gallery4.jpg" />
      <img src="/assets/Gallery/gallery5.jpg" />
      <img src="/assets/Gallery/gallery6.jpg" />
      <img src="/assets/Gallery/gallery7.webp" />
      <img src="/assets/Gallery/gallery8.jpg" />
      <img src="/assets/Gallery/gallery9.jpg" />
      <img src="/assets/Gallery/gallery10.jpg" />
      <img src="/assets/Gallery/gallery11.jpg" />
      <img src="/assets/Gallery/gallery12.jpg" />
      <img src="/assets/Gallery/gallery13.jpg" />
    </div>
  </div>
</section>
