<section class="d-flex align-items-center hero">
  <div class="container">
    <div class="text-center">
      <h1 class="mb-5">Write your own Story</h1>
      <p>
        Handpicked and tailormade journeys to Asia. Get the most immersive trips
        here at My Story.
      </p>
    </div>
  </div>
</section>
<section class="d-flex align-items-center destinations">
  <div class="container">
    <div class="row">
      <h1 class="col-12 text-center mb-5">Top Destinations</h1>
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <div class="background-card">
            <img src="/assets/Singapur.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h2 class="card-title">Singapore</h2>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="background-card">
            <img src="/assets/Tokyo.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h2 class="card-title">Tokyo</h2>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="background-card">
            <img src="/assets/shanghai.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h2 class="card-title">Shanghai</h2>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content.
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="background-card">
            <img
              src="/assets/kuala-lumpur.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h2 class="card-title">Kuala Lumpur</h2>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
